/*******************************************************************************
 * ADDED: Custom styles (overides _base)
 ******************************************************************************/
// General Typography
table {

  td,
  th {
    font-size: 1rem;
  }

  th {
    font-weight: normal;
  }
}


// Footer
footer.fixed-bottom {
  .container {
    text-align: center;
  }
}

footer.sticky-bottom {
  text-align: center;
}

// About page header
.post-header {
  .profile {
    img {
      width: 25vw;
    }
  }

  .desc {
    color: var(--global-theme-color);
  }

  .address {
    color: var(--global-text-color);

    a {
      color: var(--global-text-color);
    }
  }

  // Social
  .social {
    text-align: left;

    .contact-icons {
      font-size: 2.5rem;

      a {
        i::before {
          color: var(--global-text-color);
          transition-property: all 0.2s ease-in-out;
        }

        &:hover {
          i::before {
            color: var(--global-theme-color);
          }
        }
      }
    }

    .contact-note {
      font-size: 0.9rem;
    }
  }
}

// Projects
.projects {
  .card {
    .card-title {
      font-size: 1.5rem;
    }

    &:hover {
      transform: scale(1.01);
    }

  }
}

// Publications
.publications {
  margin-top: 2rem;

  ol.bibliography {
    li {
      .author {
        a {
          border-bottom: 1px dashed var(--global-text-color);
          color: var(--global-text-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
            color: var(--global-hover-color);
          }
        }

        >em {
          color: var(--global-theme-color);
        }
      }

      .pub-note {
        font-size: small;
        font-style: italic;
        color: var(--global-theme-color);
      }
    }
  }
}

// Blog
.header-bar {
  border-bottom: none;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

}

.blog-metadata {
  border-bottom: 1px solid var(--global-divider-color);
  font-size: small;

  .tag-list {
    border-bottom: none;
    padding-top: 1rem;
    padding-bottom: 0rem;

    ul {

      p,
      li {
        padding: 0rem 0rem;
      }
    }

    a {
      color: var(--global-text-color-light);
    }
  }

}

// Writing
.writing {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-hover-color);
      }
    }
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }


  .card {
    border-style: hidden;
    border: none;
    box-shadow: none;
    background-color: var(--global-bg-color);

    &:hover {
      transform: scale(1.02);
    }

    h5 {
      font-size: 1.25rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    .card-subtitle {
      color: var(--global-theme-color);
    }
  }

  figure,
  img {
    max-width: 20vw;
  }


}