/*******************************************************************************
 * ADDED: Custom colors
 ******************************************************************************/

// Day theme colors
$day-color-main:             #E65100 !default;                         // orange 900 material.io
$day-color-hover:            #FF9800 !default;                         // orange 500 material.io

// Night theme colors
$night-background-color:     $black-color !default;                         
$night-color-main:           #2ce0a1 !default;
$night-color-hover:          darken($night-color-main, 10%); 
$night-card-color:           #212121 !default;


/*******************************************************************************
 * ADDED: Custom theme
 ******************************************************************************/

 :root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$day-color-main};
  --global-hover-color: #{$day-color-hover};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #{$day-color-main};
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$night-background-color};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$night-color-main};
  --global-hover-color: #{$night-color-hover};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #{$night-color-main};
  --global-card-bg-color: #{$night-card-color};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}